.chart {
  flex: 4;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.47);
  .title {
    color: gray;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .chartGrid {
    stroke: rgb(225, 228, 228);
  }
}
