.widget {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  height: 100px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.47);
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(136, 109, 10);
    }
    .counter {
      font-size: 28px;
      font-weight: 500;
    }
    .link {
      border-bottom: 2px solid orange;
      font-size: 14px;
      width: max-content;
    }
    .percentage {
      display: flex;
      align-items: center;
      justify-content: center;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 25px;
      align-self: end;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
